## <summary>Erlang Port Mapper Daemon (epmd).</summary>

########################################
## <summary>
##	Execute epmd in the epmd domain, and
##	allow the specified role the epmd domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the epmd domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`run_epmd',`
	gen_require(`
		type epmd_t, epmd_exec_t;
	')

        domtrans_pattern($1, epmd_exec_t, epmd_t)
	role $2 types epmd_t;
	corenet_tcp_connect_epmd_port($1)
')

