########################### -*- Mode: Fundamental -*- #########################
## localStrict.te --- 
## Author           : Manoj Srivastava ( srivasta@glaurung.internal.golden-gryphon.com ) 
## Created On       : Thu May 10 23:57:50 2007
## Created On Node  : glaurung.internal.golden-gryphon.com
## Last Modified By : Manoj Srivastava
## Last Modified On : Mon Oct 29 11:57:13 2007
## Last Machine Used: anzu.internal.golden-gryphon.com
## Update Count     : 5
## Status           : Unknown, Use with caution!
## HISTORY          : 
## Description      : 
##
## This is a example local policy, which is used by the author to set
## up am user mode linux virtual machine in enforcing mode using the
## strict policy.  With this policy module loaded, root can run
## apt/aptitude/dpkg, install and remove packages, and mount a hostfs
## filesystem.
##
## This .te file can be compiled with:
##   checkmodule -M -m -o localStrict.mod localStrict.te
##   semodule_package -o localStrict.pp -m localStrict.mod
## And loaded into policy with:
##   semodule -i localStrict.pp
##
## arch-tag: b4a20d2d-3c47-40c3-bc8f-a6adc1f31250
##
###############################################################################

module localStrict 1.0;

require {
        type apt_t;
        type auditd_t;
        type crond_t;
        type fsadm_log_t;
        type fsadm_t;
        type initrc_t;
        type mount_t;
        type security_t;
        type system_chkpwd_t;
        type var_run_t;
        class unix_stream_socket listen;
        class file write;
        class fd use;
        class dir search;
        class filesystem getattr;
        class process setrlimit;
}

#============= apt_t ==============
# src="apt_t" tgt="var_run_t" class="dir", perms="search"
# comm="aptitude" exe="" path=""
allow apt_t var_run_t:dir search;

#============= auditd_t ==============
# src="auditd_t" tgt="auditd_t" class="unix_stream_socket", perms="listen"
# comm="audispd" exe="" path=""
allow auditd_t self:unix_stream_socket listen;

#============= crond_t ==============
# Since cron policy explicitly did not give permission for this, 
# we should silence the audit messages.
# src="crond_t" tgt="crond_t" class="process", perms="setrlimit"
# comm="cron" exe="" path=""
allow crond_t self:process setrlimit;

##============= fsadm_t ==============
# src="fsadm_t" tgt="security_t" class="filesystem", perms="getattr"
# comm="fsck.ext3" exe="" path=""
allow fsadm_t security_t:filesystem getattr;

#============= initrc_t ==============
### /etc/init.d/checkroot.sh running "/sbin/logsave", as well as
### /etc/init.d/checkfs.sh
# src="initrc_t" tgt="fsadm_log_t" class="file", perms="write"
# comm="logsave" exe="" path=""
allow initrc_t fsadm_log_t:file write;

### Allow auditd postinst, fer instance
# src="initrc_t" tgt="apt_t" class="fd", perms="use"
# comm="auditd" exe="" path=""
allow initrc_t apt_t:fd use;

#============= mount_t ==============
# src="mount_t" tgt="security_t" class="filesystem", perms="getattr"
# comm="mount" exe="" path=""
allow mount_t security_t:filesystem getattr;

#============= system_chkpwd_t ==============
# src="system_chkpwd_t" tgt="security_t" class="filesystem", perms="getattr"
# comm="unix_chkpwd" exe="" path=""
allow system_chkpwd_t security_t:filesystem getattr;

### I have no idea why this is looking in /var/run
# src="system_chkpwd_t" tgt="var_run_t" class="dir", perms="search"
# comm="unix_chkpwd" exe="" path=""
allow system_chkpwd_t var_run_t:dir search;
