## <summary>Multicategory security policy</summary>
## <required val="true">
##	Contains attributes used in MCS policy.
## </required>

########################################
## <summary>
##	This domain is allowed to read files and directories
##	regardless of their MCS category set.
## </summary>
## <param name="domain">
##	<summary>
##	Domain target for user exemption.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mcs_file_read_all',`
	gen_require(`
		attribute mcsreadall;
	')

	typeattribute $1 mcsreadall;
')

########################################
## <summary>
##	This domain is allowed to write files and directories
##	regardless of their MCS category set.
## </summary>
## <param name="domain">
##	<summary>
##	Domain target for user exemption.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mcs_file_write_all',`
	gen_require(`
		attribute mcswriteall;
	')

	typeattribute $1 mcswriteall;
')

########################################
## <summary>
##	This domain is allowed to sigkill and sigstop 
##	all domains regardless of their MCS category set.
## </summary>
## <param name="domain">
##	<summary>
##	Domain target for user exemption.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mcs_killall',`
	gen_require(`
		attribute mcskillall;
	')

	typeattribute $1 mcskillall;
')

########################################
## <summary>
##	This domain is allowed to ptrace
##	all domains regardless of their MCS
##	category set.
## </summary>
## <param name="domain">
##	<summary>
##	Domain target for user exemption.
##	</summary>
## </param>
#
interface(`mcs_ptrace_all',`
	gen_require(`
		attribute mcsptraceall;
	')

	typeattribute $1 mcsptraceall;
')

########################################
## <summary>
##	Make specified domain MCS trusted
##	for setting any category set for
##	the processes it executes.
## </summary>
## <param name="domain">
##	<summary>
##	Domain target for user exemption.
##	</summary>
## </param>
#
interface(`mcs_process_set_categories',`
	gen_require(`
		attribute mcssetcats;
	')

	typeattribute $1 mcssetcats;
')

########################################
## <summary>
##     Make specified domain MCS trusted
##     for setting the low level of its range for the processes it executes,
##      IE MCS will not be mandatory for it.
## </summary>
## <param name="domain">
##     <summary>
##     Domain target for user exemption.
##     </summary>
## </param>
#
interface(`mcs_process_set_low',`
	gen_require(`
		attribute mcssetlow;
	')

	typeattribute $1 mcssetlow;
')

########################################
## <summary>
##      Make specified object MCS trusted.
## </summary>
## <desc>
##      <p>
##      Make specified object MCS trusted.  This
##      allows all levels to read and write the
##      object.
##      </p>
##      <p>
##      This currently only applies to filesystem
##      objects, for example, files and directories.
##      </p>
## </desc>
## <param name="domain">
##      <summary>
##      The type of the object.
##      </summary>
## </param>
#
interface(`mcs_trusted_object',`
	gen_require(`
		attribute mcstrustedobject;
	')

	typeattribute $1 mcstrustedobject;
')

